.panel-3col-bricks {
/*  overflow: hidden;  */
/*  margin-top: 0;
  padding-top: 0; */
}

/* First row, one column */
.panel-3col-bricks .panel-col-top {
  width: 100%;
  clear: both;
}

.panel-3col-bricks .panel-col-top .inside {
  margin-bottom: 2rem;
}

/* Second row, two columns */
.panel-3col-bricks .panel-col-first {
  float: left;
  width: 50%;
  margin-bottom: 2rem;
}

.panel-3col-bricks .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

.panel-3col-bricks .panel-col-last {
  float: left;
  width: 50%;
  margin-bottom: 2rem;
}

.panel-3col-bricks .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

/* Middle row, one column */
.panel-3col-bricks .panel-col-middle {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 2rem;
  width: 99.9%;
  clear: both;
}

.panel-3col-bricks .panel-col-middle .inside {
  margin-bottom: .5em;
}

/* Bottom row, four columns */
.panel-3col-bricks .panel-col-left {
  float: left;
  width: 25%;
}

.panel-3col-bricks .panel-col-left .inside {
  margin: 0 .5em 1em 0;
}

.panel-3col-bricks .panel-col-right {
  float: left;
  width: 25%;
}

.panel-3col-bricks .panel-col-right .inside {
  margin: 0 0 1em .5em;
}

.panel-3col-bricks .panel-separator {
  margin: 0 0 1rem 0;
}
