<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Insert Page Title Here</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="http://wwwi.wsdot.wa.gov/internal/styles/style.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://wwwi.wsdot.wa.gov/internal/styles/print.css" media="print">
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-970887-22']);
  _gaq.push(['_setDomainName', '.wsdot.wa.gov']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End Google Analytics -->
</head>
<body>
<div id="wrapper">
  <div class="pagehead">
    <div class="toplinks"> <a href="http://www.wsdot.wa.gov/traffic/">Traffic and Travel Info</a> | <a href="http://wwwi.wsdot.wa.gov/employee/directory/">Find an Employee</a> | <a href="http://www.wsdot.wa.gov/">WSDOT Home</a> </div>
    <div id="logo"><a href="http://www.wsdot.wa.gov/">Welcome to the Intranet</a></div>
    <div class="tagline">Insert Office Name Here</div>
    <div id="navbar">
      <ul id="mainnav">
        <li><a href="http://wwwi.wsdot.wa.gov/Onedot/"><span>Intranet Home</span></a></li>
        <li><a href="http://wwwi.wsdot.wa.gov/projects/"><span>Project Delivery</span></a></li>
        <li><a href="http://wwwi.wsdot.wa.gov/siteindex/"><span>WSDOT A-Z</span></a></li>
        <li><a href="http://wwwi.wsdot.wa.gov/employee/"><span>Employee Center</span></a></li>
        <li><a href="http://wwwi.wsdot.wa.gov/data/"><span>Data Drawer</span></a></li>
        <li><a href="http://wwwi.wsdot.wa.gov/fasc/adminservices/forms/"><span>Forms</span></a></li>
      </ul>
    </div>
  </div>
  <table border="0" cellspacing="0" cellpadding="0" id="main">
    <tr>
      <td  valign="top" class="leftcolumn" width="165"><form method="get" action="http://searchi.wsdot.wa.gov/search" class="search">
          <input name="q" type="text" size="16" >
          <input name="imageField" type="image" src="http://wwwi.wsdot.wa.gov/internal/images/topnav/go.gif" align="middle">
          <input type="hidden" name="site" value="Intranet">
          <input type="hidden" name="client" value="default_frontend">
          <input type="hidden" name="proxystylesheet" value="default_frontend">
          <input type="hidden" name="output" value="xml_no_dtd">
        </form>
        <h4>Heading Title</h4>
        <ul>
          <li><a href="#">Item One</a></li>
          <li><a href="#">Item Two</a></li>
          <li><a href="#">Item Three</a></li>
          <li><a href="#">Item Four</a></li>
        </ul></td>
      <td class="content" valign="top">
      <h2>Insert Page Title Here</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut ac neque. Integer velit eros, vehicula sit amet, ultrices non, convallis non, lacus. Curabitur eleifend hendrerit ipsum. Morbi enim dolor, posuere nec, accumsan vel, gravida sed, mi. Nulla condimentum congue risus. Proin mollis. Nunc dolor urna, porttitor nec, commodo eu, cursus nec, diam. Vivamus a nunc a sapien luctus egestas. Maecenas malesuada interdum leo. Sed ornare rutrum ligula. Fusce feugiat. Mauris ullamcorper orci nonummy augue. Ut sit amet eros ut dolor aliquam viverra. Mauris feugiat magna eu urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus interdum, orci consectetuer lobortis sollicitudin, risus ante pharetra nunc, a ultrices magna nisi ut pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam quam tellus, ultrices et, facilisis sed, lacinia vel, nibh. Fusce eu sapien vel quam viverra egestas.</p>
        <p>Nam blandit pede in felis. Etiam gravida. Maecenas molestie libero eu elit. Sed tempor volutpat ligula. Sed auctor libero in tellus. Quisque eu odio. Etiam blandit ante at augue. Vivamus gravida dignissim ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ac eros nec lacus eleifend interdum.</p></td>
      <!--Begin Right Column-->
      <td class="rightcolumn" width="165" valign="top">
      	<h4>Heading Title</h4>
        <ul>
          <li><a href="#">Item One</a></li>
          <li><a href="#">Item Two</a></li>
          <li><a href="#">Item Three</a></li>          
        </ul>
        
      	<h4>Heading Title</h4>
        <ul>
          <li><a href="#">Item Four</a></li>
          <li><a href="#">Item Five</a></li>
          <li><a href="#">Item Six</a></li>
          <li><a href="#">Item Seven</a></li>          
        </ul>

      </td>
    </tr>
  </table>
</div>
<div id="footer">
  <div class="bottomlinks">
    <p><a href="http://wwwi.wsdot.wa.gov/">Intranet Home</a> | <a href="http://wwwi.wsdot.wa.gov/search/">Search</a> | <a href="http://wwwi.wsdot.wa.gov/employee/directory/">Find an Employee</a> | <a href="http://wwwi.wsdot.wa.gov/siteindex/">Site Index</a> | <a href="http://www.wsdot.wa.gov/">WSDOT Home</a> </p>
  </div>
</div>
</body>
</html>
